:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: hsl(186, 100%, 33%);
    --gris: #757575;
}

/*Truco para uniformidad de texto entre navegadores*/
html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

/*Se aplica desde 0 px*/
body{
    background-color: bisque;
}

/*Recomendado
480 px para moviles 
768 px para tables*/

@media(min-width: 480px){
    body{
        background-color: blue;
    }
}

@media(min-width: 768px){
    body{
        background-color: cornflowerblue;
    }
}

/*El punto es para hacer referencia a la clase*/
.title{
    text-align: center;
    font-size: 3.8rem;
}

.title span{
    font-size: 2rem;
}

.navegacion-principal{
    background-color: var(--secundario);
    /*Margin es por fuera y padding es por dentro*/
    display: flex; /* Flexbox esta diseñado para para alinear elementos en tus diseños*/
    /*justify-content para FILAS  /  aling-items es para COLUMNAS (flex.direction)*/
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
} 

@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

/*Al poner el curzor al hipervinculo*/
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none; /* Remueve el estilo subrayado del texto */
    padding: 1rem;
}

.contenedor{
    width: 120rem; /* 1200 pixeles porque 1 rem=10px */
    /*margin-top: 0;*/
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.hero{
    background-image: url(../img/hero.jpg); /* ../ es para regresar un nivel de directorio
    ya que la carpeta "img" esta afuera de "CSS" */
    background-repeat: no-repeat; /*Sirve para evitar la repeticion de la imagen cuendo es pequeño*/
    background-size: cover; /*Sirve para cubrir la imagen con todo el tamaño*/
}